{{!-- profile/index --}}
{{!-- Profile Page --}}
<div class="container"></div>
<h2 class='text-center my-4'>Welcome Back {{user.username}}</h2>

<div class="row">
	<div class="col-sm-4 offset-2 order-sm-first">
		<img class="img-fluid-rounded-circle" src="images/home-page/landing7.svg" alt="landing page photo" width="50%">
		<br>
	</div>
	<div class="col-sm">
		<p><strong>username:</strong>{{user.username}}</p>
		<br>
		<p><strong>description:</strong>{{user.description}}</p>
	</div>
</div>
<hr>

<div id="tutorials" class="d-flex flex-wrap justify-content-center mt-5"></div>
{{#each allCreated }}
<div class="card p-0 pb-1 col-lg-3 col-md-5 col-sm-6 m-3 shadow-sm">
	{{!-- FIXME: --}}

	<div class="w-100 reference">
		<h4 class="{{this.color}} text-center m-3">{{this.title}}</h4>
		<img src="{{this.imgUrl}}" class="card-img-top" alt="html/css w-50">
	</div>

	<div class="card-body">
		<p class="card-text text-secondary">{{this.description}}
		</p>
		<div>
			<span class="d-block text-primary-dark m-b-0">{{this.type}}</span>
			<span class="text-primary-light">{{this.duration}} min</span>
		</div>

		<div class="d-flex align-items-center justify-content-between mt-3">
			<div>
				<a href="{{this.link}}" target="_blank" class="btn btn-outline-primary">Learn now</a>
			</div>

			<form action="/tutorials/all" class="d-inline">
				<div class="d-flex align-items-center">
					<i class="d-block text-secondary-light fas fa-heart fa-2x"></i>
					<p class="ml-3 text-secondary-light h5 mb-0">{{this.nbOfLikes}}</p>
				</div>

			</form>
		</div>



	</div>
</div>
{{/each}}

</section>