<h1>Tutorial</h1>
<div>
	<a href="/tutorial/html-css"> HTML & CSS</a>
	<a href="/tutorial/javascript"> Javascript</a>
	<a href="/tutorial/react"> React</a>
	<a href="/tutorial/nodejs"> Node.js</a>
	<a href="/tutorial/express"> Express</a>
	<a href="/tutorial/mongodb"> MongoDB</a>
</div>


{{#each tutorials}}
<div>
	<p>{{this.title}} </p>
	<p>{{this.description}}</p>
	<p>{{this.type}}</p>
	<p>{{this.duration}}</p>
	<p>{{this.categories}}</p>
	<p>{{this.NbOfLikes}}</p>
</div>
{{/each}}