{{!-- 'tutorial/all' --}}

<h2 class="text-dark text-center">Tutorials</h2>

{{!-- category nav --}}
<nav class="navbar navbar-expand-md navbar-light navbar-tutorial">

	{{!-- Toggle Button --}}
	<button class="navbar-toggler justify-content-center" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto ml-auto">
			{{!-- all --}}
			<li class="nav-item">
				<a class="nav-link active" href="/tutorials/all">All<span class="sr-only">(current)</span></a>
			</li>
			{{!-- html/css --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/html-css">HTML/CSS<span class="sr-only">(current)</span></a>
			</li>
			{{!-- javascript --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/javascript">Javascript<span class="sr-only">(current)</span></a>
			</li>
			{{!-- nodejs --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/nodejs">Node.js<span class="sr-only">(current)</span></a>
			</li>
			{{!-- express --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/express">Express<span class="sr-only">(current)</span></a>
			</li>
			{{!-- mongodb --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/mongodb">MongoDB<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>

{{!-- Show all tutorials --}}
{{!-- TODO: filter article and sort time --}}

<div id="tutorials" class="d-flex flex-wrap justify-content-center mt-5">

	{{#each tutorials}}
	<div class="card p-0 pb-1 col-lg-3 col-md-5 col-sm-6 m-3 shadow-sm">
		{{!-- FIXME: --}}

		<div class="w-100 reference">
			<h4 class="{{this.color}} text-center m-3">{{this.title}}</h4>
			<img src="{{this.imgUrl}}" class="card-img-top" alt="html/css w-50">
		</div>

		<div class="card-body">
			<p class="card-text text-secondary">{{this.description}}
			</p>
			<div>
				<span class="d-block text-primary-dark m-b-0">{{this.type}}</span>
				<span class="text-primary-light">{{this.duration}} min</span>
			</div>

			<div class="d-flex align-items-center justify-content-between mt-3">
				<div>
					<a href="{{this.link}}" target="_blank" class="btn btn-outline-primary">Learn now</a>
				</div>

				{{!-- FIXME: fix form method --}}
				<form action="/tutorials/all" method="GET" class="d-inline">
					<div class="d-flex align-items-center">
						<button type="submit">
							<a href="
							"><i class="d-block text-secondary-light fas fa-heart fa-2x"></i>
							</a>
							
						</button>

						<p class="ml-3 text-secondary-light h5 mb-0">{{this.nbOfLikes}}</p>
					</div>

				</form>
			</div>



		</div>
	</div>
	{{/each}}

</div>