{{!-- 'tutorial/all' --}}

<h2 class="text-dark text-center">Tutorials</h2>

<nav class="navbar navbar-expand-md navbar-light navbar-tutorial">

	{{!-- Toggle Button --}}
	<button class="navbar-toggler justify-content-center" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto ml-auto">
			{{!-- all --}}
			<li class="nav-item">
				<a class="nav-link active" href="/tutorials/all">All<span class="sr-only">(current)</span></a>
			</li>
			{{!-- html/css --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/html-css">HTML/CSS<span class="sr-only">(current)</span></a>
			</li>
			{{!-- javascript --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/javascript">Javascript<span class="sr-only">(current)</span></a>
			</li>
			{{!-- nodejs --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/nodejs">Node.js<span class="sr-only">(current)</span></a>
			</li>
			{{!-- express --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/express">Express<span class="sr-only">(current)</span></a>
			</li>
			{{!-- mongodb --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/mongodb">MongoDB<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>

{{!-- TODO: filter article and sort time --}}


<section class="container rounded mt-4">
	<div class="row justify-content-center p-3">

		{{#each tutorials}}
		<div class="card p-0 pb-4 col-lg-3 m-lg-3 m-md-1  shadow-sm">
			{{!-- FIXME: --}}
			<img src="{{this.imgUrl}}" class="card-img-top" alt="html/css">

			

			<div class="card-body text-center">
				<h5 class="card-title text-dark">Learn</h5>
				<p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of
					the card's
					content.
				</p>
				<a href="#" class="btn btn-outline-primary">Go somewhere</a>
			</div>
		</div>
		{{/each}}

	</div>
</section>

{{#each tutorials}}
<div>
	<p>{{this.title}} </p>
	<p>{{this.description}}</p>
	<p>{{this.type}}</p>
	<p>{{this.duration}}</p>
	<p>{{this.category}}</p>
	<p>{{this.NbOfLikes}}</p>
</div>
{{/each}}