<h1>Express</h1>
<div>
	<a href="/tutorials/html-css"> HTML & CSS</a>
	<a href="/tutorials/javascript"> Javascript</a>
	<a href="/tutorials/react"> React</a>
	<a href="/tutorials/nodejs"> Node.js</a>
	<a href="/tutorials/express"> Express</a>
	<a href="/tutorials/mongodb"> MongoDB</a>
</div>


{{#each express}}
<div>
	<p>{{this.title}} </p>
	<p>{{this.description}}</p>
	<p>{{this.type}}</p>
	<p>{{this.duration}}</p>
	<p>{{this.categories}}</p>
	<p>{{this.NbOfLikes}}</p>
</div>
{{/each}}