<div class="text-center">
	<img src="images/tutorial/express-facbook-share.png" class="rounded" alt="express">
</div>
<h1 class="text-center">Express</h1>

<ul class="nav justify-content-center active">
	<li class="nav-item">
		<a class="nav-link active" href="/tutorials/all">All</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/tutorials/html-css">HTML & CSS</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/tutorials/javascript">Javascript</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/tutorials/react">React</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/tutorials/nodejs">Node.js</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/tutorials/express">Express</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/tutorials/mongodb">MongoDB</a>
	</li>
</ul>
<hr>
{{#each express}}
<div>
	<p>{{this.title}} </p>
	<p>{{this.description}}</p>
	<p>{{this.type}}</p>
	<p>{{this.duration}}</p>
	<p>{{this.categories}}</p>
	<p>{{this.NbOfLikes}}</p>
</div>
{{/each}}