{{!-- 'tutorial/all' --}}

<h2 class="text-dark text-center">HTML/CSS</h2>

{{!-- category nav --}}
<nav class="navbar navbar-expand-md navbar-light navbar-tutorial">

	{{!-- Toggle Button --}}
	<button class="navbar-toggler justify-content-center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto ml-auto">
			{{!-- all --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/all">All<span class="sr-only">(current)</span></a>
			</li>
			{{!-- html/css --}}
			<li class="nav-item">
				<a class="nav-link active" href="/tutorials/html-css">HTML/CSS<span class="sr-only">(current)</span></a>
			</li>
			{{!-- javascript --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/javascript">Javascript<span class="sr-only">(current)</span></a>
			</li>
			{{!-- nodejs --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/nodejs">Node.js<span class="sr-only">(current)</span></a>
			</li>
			{{!-- express --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/express">Express<span class="sr-only">(current)</span></a>
			</li>
			{{!-- mongodb --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/mongodb">MongoDB<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>



{{#each htmlCss}}
<div>
	<p>{{this.title}} </p>
	<p>{{this.description}}</p>
	<p>{{this.type}}</p>
	<p>{{this.duration}}</p>
	<p>{{this.categories}}</p>
	<p>{{this.NbOfLikes}}</p>
</div>
{{/each}}