{{!-- 'tutorial/nodejs' --}}

<h2 class="text-dark text-center">Tutorials</h2>

{{!-- category nav --}}
<nav class="navbar navbar-expand-md navbar-light navbar-tutorial">

	{{!-- Toggle Button --}}
	<button class="navbar-toggler justify-content-center" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto ml-auto">
			{{!-- all --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/all">All<span class="sr-only">(current)</span></a>
			</li>
			{{!-- html/css --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/html-css">HTML/CSS<span class="sr-only">(current)</span></a>
			</li>
			{{!-- javascript --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/javascript">Javascript<span class="sr-only">(current)</span></a>
			</li>
			{{!-- react --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/react">React<span class="sr-only">(current)</span></a>
			</li>
			{{!-- nodejs --}}
			<li class="nav-item">
				<a class="nav-link active" href="/tutorials/nodejs">Node.js<span class="sr-only">(current)</span></a>
			</li>
			{{!-- express --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/express">Express<span class="sr-only">(current)</span></a>
			</li>
			{{!-- mongodb --}}
			<li class="nav-item">
				<a class="nav-link" href="/tutorials/mongodb">MongoDB<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>

{{!-- Show all tutorials --}}
<div class="tutorials d-flex flex-wrap justify-content-center mt-5">

	{{#each tutorials}}
	<div class="card p-0 pb-1 col-lg-3 col-md-5 col-sm-6 m-3 shadow-sm">

		{{!-- title --}}
		<div>
			<a href="{{this.link}}" class="title" target="_blank">
				<h4 class=" {{this.color}} text-center m-3">{{this.title}}</h4>
				<img src="{{this.imgUrl}}" class="card-img-top" alt="category: {{this.category}}">
			</a>
		</div>

		<div class="card-body">
			{{!-- description --}}
			<p class="card-text text-secondary">{{this.description}}
			</p>
			{{!-- category, type and duration --}}
			<p class="text-secondary-light">
				{{this.category}} | {{this.type}} | {{this.duration}} min
			</p>

			{{!-- creator --}}
			<p class="text-secondary">
				<a class="creator" href="/profile/{{this._creator.username}}">{{this._creator.username}}</a> shared this
			</p>

			<div class="d-flex align-items-center justify-content-between mt-3">
				<div>
					<a href="{{this.link}}" target="_blank" class="btn btn-outline-blue">Learn now</a>
				</div>

				<div class="d-flex align-items-center">

					<i class="d-block fas fa-heart fa-2x text-{{#if this.isLiked}}red{{else}}secondary{{/if}}-light btn-like"
						data-tutorial-id="{{this._id}}"></i>

					<p class="ml-3 text-secondary-light h5 mb-0" likes="{{this._id}}">{{this.nbOfLikes}}</p>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>


{{!-- Script --}}
<script>
	let $likeButtons = [...document.querySelectorAll(".btn-like")];

	$likeButtons.forEach(($likeButton) => {
		$likeButton.onclick = function () {
			if (this.classList.contains('text-secondary-light')) {
				this.classList.remove('text-secondary-light');
				this.classList.add('text-red-light');
			} else {
				this.classList.remove('text-red-light');
				this.classList.add('text-secondary-light');
			}

			// get the tutorial id and send req.body._tutorial
			// use axios.post => /api/likes
			let _tutorial = this.getAttribute('data-tutorial-id');

			axios.post('/api/likes', { _tutorial })
				.then(response => {
					this.nextElementSibling.textContent = response.data.nbOfLikes;

				})
				.catch(err => console.log('Error', err))
		}
	})
</script>